/* Переменные */
@body-bg-color: #fcf5eb;   
@text-color: #716161;        // white
@button-bg-color: #f9627d;  // pink
@button-bg1-color: #11111d;  // red

@text-color2: #d33f31;
@txtmargin: 110px;
@stand-color: #c0070a;
@christ-color: #fc3637;
@skidka-color1: #e8efef;
@skidka-color2: #f0f8f8;
@skidka-color3: #f2f2f2;
@skidka-color4: #f2f8f8;


@gray-color: #b8b8b8;
@gray-text-color: #897e7e;



/* LESS CSS */
body {
  margin-left: auto;
  margin-right: auto;
  background: @body-bg-color;
  color: @text-color;
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  width: 800px;
  height: 4733px;
}

.phead {
  margin-bottom: 0px;
  letter-spacing: 6px;
  margin-top: -42px;
  font-family: "Navidad";
  font-size: 115px;
  color: white;
}

.phead1 {
  .phead;
  margin-top: -55px;
}

body div[id='1'] {
  height: 117px;
  
}

body div[id='1'] p {
  font-family: "Arvo";
  color: @gray-color;
  font-size: 15px;
  margin-top: -5px;

}

body div[id='2'] {
  width: 600px;
  height: 550px;
  background: url(photo/Photo1.jpg);
  
}

body div[id='2'] img {
  margin: 0px;
}

body div[id='3'] {
  width: 600px;
  height: 692px;
  padding-top: 26px;
}



body div[id='4'] {
  border: 1px solid white;
  width: 600px;
  height: 190px;
  background: url(photo/Photo2.png);
}

body div[id='4'] div[id='18'] {
  margin: 10px;
  width: 580px;
  height: 170px;
  border: 1px solid white;
}

div[id='4'] p[id='19']{
  font-weight: bold;
  font-family: "Arvo";
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  margin-top: -5px;
  margin-bottom: 0px;
}

div[id='4'] p[id='20']{
  font-family: "Arvo";
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: -7px;
  margin-bottom: 0px;
}

div[id='4'] p[id='21']{
  font-family: "Arvo";
  color: white;
  font-size: 16px;
  margin-top: -2px;
  margin-bottom: 0px;
}

body div[id='5'] {
  width: 600px;
  height: 847px;
  padding-top: 26px;
}

body div[id='6'] {
  width: 600px;
  height: 640px;
  padding-top: 4px;
}

body div[id='7'] {
  width: 600px;
  height: 320px;
  background: url(photo/Photo3.png);
  margin: 0px;
  padding-top: 10px;
}

body div[id='7'] div[id='22'] {
  width: 577px;
  height: 307px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
}

div[id='7'] p[id='23']{
  font-family: "Arvo";
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 0px;
}

div[id='7'] p[id='24']{
  font-family: "Arvo";
  color: white;
  font-size: 56px;
  text-transform: uppercase;
  margin-top: -5px;
  margin-bottom: 0px;
}

div[id='7'] p[id='25']{
  font-family: "Arvo";
  color: white;
  text-transform: uppercase;
  font-size: 31px;
  margin-top: -10px;
  margin-bottom: 0px;
}

body div[id='8'] {
  width: 600px;
  height: 570px;
  padding-top: 26px;
}

body div[id='9'] {
  width: 600px;
  height: 151px;
}

body div[id='10'] {
  width: 600px;
  height: 399px;
}

body div[id='11'] {
  width: 200px;
  height: 200px;
  background-color: @skidka-color1;
  float: left;
}

body div[id='12'] {
  width: 200px;
  height: 200px;
  background-color: @skidka-color2;
  float: left;
}

.div13 {
  width: 200px;
  height: 199px;
  float: left;
}

body div[id='14'] {
  width: 600px;
  height: 250px;
  background-color: @skidka-color1;
}

body div[id='15'] {
  width: 600px;
  height: 174px;
  background-color: @skidka-color2;
}

body div[id='16'] {
  width: 600px;
  height: 227px;
  padding-top: 26px;

}

body div[id='17'] {
  width: 600px;
  height: 531px;
  background: url("photo/footer_main_bg.png") no-repeat;
}



body div[id='27'] {
  padding-top: 10px;
  width: 280px;
  height: 288px;
  background: @skidka-color2;

}

body div[id='28'] {
  padding-top: 10px;
  width: 280px;
  height: 288px;
  background: @skidka-color2;

}

body .photo1 {
 height: 191px;
 width: 280px;
}

.float_left {
  margin-left: 10px;
  margin-bottom: -50px;
  height: 489px;
  width: 280px;
  background-color: @skidka-color1;
  float: left;
  flex: bottom;
}

.float_right {
  margin-right: 10px;
  height: 489px;
  width: 280px;
  background-color: @skidka-color1;
  float: right;
}

.float_left_bottom {
  height: 320px;
  width: 250px;
  background-color: @skidka-color2;
  margin-left: 10px;
  margin-right: 0px;
  float: left;
  text-align: left;
  padding-left: 40px;
}

.float_right_top {
  height: 320px;
  width: 250px;
  margin-right: 10px;
  margin-left: 0px;
  float: right;
  background-color: @skidka-color2;
  text-align: left;
  padding-left: 40px;
}

.float_left_top {
  height: 320px;
  width: 290px;
  float: left;
  margin-left: 10px;
  margin-right: 0px;
  background-color: @skidka-color1;
}

.float_right_bottom {
  height: 320px;
  width: 290px;
  margin-right: 10px;
  margin-left: 0px;
  float: right;
  background-color: @skidka-color1;
}

.float_left_brand{
  margin-left: 11px;
  margin-top: 27px;
  height: 60px;
  width: 173px;
  float: left;
  background-color: @skidka-color4;
}

.float_center_brand{
  margin-left:30px;
  margin-right: 30px;
  margin-top: 27px;
  height: 60px;
  width: 173px;
  float: left;
  background-color: @skidka-color3;
}

.float_right_brand{
  margin-right: 10px;
  margin-top: 27px;
  height: 60px;
  width: 173px;
  float: right;
  background-color: @skidka-color4;
}

.foot_div_left {
  float: left;
  width: 254px;
  height: 240px;
  text-align: left;
  color: white;
  padding-top: 25px;
  padding-bottom: 23px;
  padding-left: 25px;
  padding-right: 21px;
  font-family: "Arvo";
}

.lastblock1 {
  width: 285px;
  height: 164px;
  text-align: left;
  padding-left: 25px;
  padding-top: 10px;
  float: left;
}

.lastblock2 {
  width: 290px;
  height: 164px;
  text-align: left;
  padding-top: 25px;
  float: left;
  font-size: 13px;
}


.foot_div_left p{
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 23px;
}

.foot_div_left h3{
  font-size: 18px;
  text-transform: uppercase;
}

.foot_div_block {
  margin-left: 150px;
  margin-right: 150px;
  height: 36px;
  float: left;
}

.foot_div_preblock{
  height: 129px;
  width: 600px;
  float: left;
}

.footer {
  height: 79px;
  width: 600px;
  float: left;
}

.footer p{
  text-align: center;
  font-size: 11px;
  Color: black;
  margin-top: 0px;
}

.foot_div_img {
  float: left;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: -4px;
}

.background {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 4584px;
  width: 600px;
}

.head1 {
  margin-left: @txtmargin;
  text-align: left;
  font-family: "Arvo";
  font-size: 13px;
  margin-top: 28px;
  margin-bottom: 6px;
  color:@stand-color;

}

.head1 span{
  color: #5c5c5c;
  float: right;
  margin-right: 107px;

}

.imague {
  margin-top: 25px;
  margin-bottom: 0px;
  position: relative;
  bottom: 32px;
}

.imague2 {
  margin-top: 25px;
  margin-bottom: 0px;
  bottom: 32px;
}

.imague3 {
  margin-top: 14px;
  margin-bottom: 0px;
  position: relative;
  bottom: 32px;
}

.imague4 {
  margin-top: 22px;
  margin-bottom: 0px;
  position: relative;
}

.imague5 {
  margin-top: 16px;
  margin-bottom: 0px;
  position: relative;
}

.imague p {
  position: absolute;
  color:white;
  font-family: "Navidad";
  font-size: 33px;
  bottom: -43px;
  width: 100%;
}

.imague3 p {
  position: absolute;
  text-transform: uppercase;
  color:@christ-color;
  font-family: "Arvo";
  font-size: 28px;
  bottom: -16px;
  left:  -5px;
  width: 100%;
}

.imague4 p {
  position: absolute;
  color:white;
  font-family: "Arvo";
  font-size: 15px;
  bottom: -2px;
  left:  15px;
  width: 100%;
}

.imague4 p[id="26"] {
  text-transform: uppercase;
  position: absolute;
  color:white;
  font-family: "Arvo";
  font-size: 15px;
  bottom: -2px;
  left:  15px;
  width: 100%;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.imague6 {
  .imague4;
  margin-top: 0px;
}

.imague6 p{
  text-transform: uppercase;
  position: absolute;
  color: @stand-color;
  font-family: "Arvo";
  font-size: 15px;
  bottom: -2px;
  left:  15px;
  width: 100%;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.imague7 {
  .imague4;
  margin-top: 25px;
}

.imague7 p{
  text-transform: uppercase;
  position: absolute;
  color: @stand-color;
  font-family: "Arvo";
  font-size: 15px;
  bottom: -2px;
  left:  50px;
  width: 100%;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.imague8 {
  .imague4;
  margin-top: 0px;
}
.imague8 p{
  text-transform: uppercase;
  position: absolute;
  color: @stand-color;
  font-family: "Arvo";
  font-size: 10px;
  bottom: 2px;
  left:  14px;
  width: 100%;
  font-weight: bold;
  letter-spacing: -0.5px;
}
.procent {
  color: white;
  font-size: 39px;
  margin-top: -15px;
  margin-bottom: 0px;
}

h1 {
  font-family: "Navidad";
  font-size: 35px;
  color: @christ-color;
  margin-bottom: 0px;
  margin-top: 10px;
  letter-spacing: 1px;
  font-weight: normal;
}

h2 {
  text-transform: uppercase;
  font-family: 'Arvo';
  font-size: 24px;
  color: @text-color2;
  letter-spacing: 0.4px;
  font-weight: normal;

  margin-bottom: 6px;
}

p {
  font-family: "Arvo";
}

.textgray {
  color: @gray-text-color;
  font-size: 17px;

}

.textred {
  color: @stand-color;
  font-size: 17px;

}

.textgray2 {
  color: @gray-text-color;
  font-size: 21px;
}

.textred2 {
  color: @stand-color;
  font-size: 21px;
}

.subscribe {
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: -12px;
  margin-bottom: -8px
}

.subscribe2 {
  font-size: 15px;
  margin-top:18px;
  margin-bottom:36px;
}

.subscribe3 {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-top: -15px;
}

.subscribe4 {
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 40px;
}

.marker2 {
  color: @text-color2;
  font-size: 24px;
  text-transform: uppercase;
}

.marker2 b{
  color: @text-color2;
  font-size: 30px;
  text-transform: uppercase;
}

.marker2 sub{
  color: @text-color2;
  font-size: 30px;
  text-transform: uppercase;
}


.marker {
  color: @text-color2;
  font-size: 20px;
  margin-top: 25px;
}

.marker3 {
  color: @text-color2;
}

@font-face{
  font-family: "Arvo";
  src:url("/fonts/Arvo-Regular_201.ttf") format("truetype");
  font-style: normal; 
 font-weight: normal; 
 }

@font-face {
  font-family:"Navidad";
  src:url("/fonts/Navidad.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

  @font-face {
    font-family: 'FontAwesome';
    src: url('/fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }